ic-persist/src/wsdl/NcbiService14.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- #==================================================================
     # $Id:: NcbiService14.wsdl 528 2009-09-12 19:37:52Z lukasz        $
     # Version: $Rev:: 528                                             $
     #==================================================================
     # MBI Web Services: NCBI access
     #
     #================================================================== -->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://mbi.ucla.edu/proxy/ncbi" 
    	     xmlns:ncbi="http://mbi.ucla.edu/proxy/ncbi" 
             xmlns:dsf="http://dip.doe-mbi.ucla.edu/fault"
	     xmlns:dxf="http://dip.doe-mbi.ucla.edu/services/dxf14" > 
 <types>

  <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
       targetNamespace="http://mbi.ucla.edu/proxy/ncbi"> 

   <xs:import namespace="http://dip.doe-mbi.ucla.edu/fault"
       schemaLocation="Fault.xsd"/> 

   <xs:import namespace="http://dip.doe-mbi.ucla.edu/services/dxf14"
       schemaLocation="DXF1.4.xsd"/> 
 
   <xs:element name="getJournal">
    <xs:annotation>
     <xs:documentation>Get Journal from NLM</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ns" type="xs:string" default="nlmid" />
      <xs:element name="ac" type="xs:string"/>
      <xs:element name="match" type="xs:string" default="exact"/>
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf"  />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

   <xs:element name="getPubmedArticle">
    <xs:annotation>
     <xs:documentation>Get Pubmed article citation</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ns" type="xs:string" default="pmid" />
      <xs:element name="ac" type="xs:string"/>
      <xs:element name="match" type="xs:string" default="exact"/>
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf"  />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

   <xs:element name="getRefseq">
    <xs:annotation>
     <xs:documentation>Get RefSeq record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ns" type="xs:string" default="refseq" />
      <xs:element name="ac" type="xs:string"/>
      <xs:element name="match" type="xs:string" default="exact"/>
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf"  />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

   <xs:element name="getGene">
    <xs:annotation>
     <xs:documentation>Get Entrez Gene record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ns" type="xs:string" default="entrezgene" />
      <xs:element name="ac" type="xs:string"/>
      <xs:element name="match" type="xs:string" default="exact"/>
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf"  />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
   </xs:element>

   <xs:element name="getTaxon">
    <xs:annotation>
     <xs:documentation>Get Taxonomy record</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="ns" type="xs:string" default="taxonomy" />
      <xs:element name="ac" type="xs:string"/>
      <xs:element name="match" type="xs:string" default="exact"/>
      <xs:element name="detail" type="xs:string" default="stub" />
      <xs:element name="format" type="xs:string" default="dxf"  />
      <xs:element name="client" type="xs:string" default="" minOccurs="0" />
      <xs:element name="depth" type="xs:int" default="0" minOccurs="0" />
     </xs:sequence>
    </xs:complexType>
   </xs:element>

  <xs:element name="result">
    <xs:annotation>
     <xs:documentation>proxy response</xs:documentation>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime" />
      <xs:element ref="dxf:dataset"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="nativerecord" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
    </xs:complexType>
   </xs:element>
  </xs:schema>
 </types>

 <message name="getJournalReq">
  <part element="ncbi:getJournal" name="request"/>
 </message>

 <message name="getPubmedArticleReq">
  <part element="ncbi:getPubmedArticle" name="request"/>
 </message>

 <message name="getRefseqReq">
  <part element="ncbi:getRefseq" name="request"/>
 </message>

 <message name="getGeneReq">
  <part element="ncbi:getGene" name="request"/>
 </message>

 <message name="getTaxonReq">
  <part element="ncbi:getTaxon" name="request"/>
 </message>

 <message name="getJournalRes">
  <part element="ncbi:result" name="response"/>
 </message>

 <message name="getPubmedArticleRes">
  <part element="ncbi:result" name="response"/>
 </message>

 <message name="getRefseqRes">
  <part element="ncbi:result" name="response"/>
 </message>

 <message name="getGeneRes">
  <part element="ncbi:result" name="response"/>
 </message>

 <message name="getTaxonRes">
  <part element="ncbi:result" name="response"/>
 </message>

 <message name="ncbiFault">
  <part element="dsf:serviceFault" name="fault"/> 
 </message>
		
 <portType name="NcbiProxyPortType">

  <operation name="getJournal">
   <input message="ncbi:getJournalReq"/>
   <output message="ncbi:getJournalRes"/>
   <fault name="getJournalFault" message="ncbi:ncbiFault"/>
  </operation>

  <operation name="getPubmedArticle">
   <input message="ncbi:getPubmedArticleReq"/>
   <output message="ncbi:getPubmedArticleRes"/>
   <fault name="getPubmedArticleFault" message="ncbi:ncbiFault"/>
  </operation>

  <operation name="getRefseq">
   <input message="ncbi:getRefseqReq"/>
   <output message="ncbi:getRefseqRes"/>
   <fault name="getRefseqFault" message="ncbi:ncbiFault"/>
  </operation>

  <operation name="getGene">
   <input message="ncbi:getGeneReq"/>
   <output message="ncbi:getGeneRes"/>
   <fault name="getGeneFault" message="ncbi:ncbiFault"/>
  </operation>

  <operation name="getTaxon">
   <input message="ncbi:getTaxonReq"/>
   <output message="ncbi:getTaxonRes"/>
   <fault name="getTaxonFault" message="ncbi:ncbiFault"/>
  </operation>

 </portType>

 <binding name="NcbiProxyBinding" type="ncbi:NcbiProxyPortType">

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

  <operation name="getJournal">
   <soap:operation 
    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getJournal"/>
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getJournalFault">
    <soap:fault name="getJournalFault" use="literal"/>
   </fault>
  </operation>

  <operation name="getPubmedArticle">
   <soap:operation 
    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getPubmedArticle"/>
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getPubmedArticleFault">
    <soap:fault name="getPubmedArticleFault" use="literal"/>
   </fault>			 
  </operation>

  <operation name="getRefseq">
   <soap:operation 
    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getRefseq"/>
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getRefseqFault">
    <soap:fault name="getRefseqFault" use="literal"/>
   </fault>
  </operation>

  <operation name="getGene">
   <soap:operation 
    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getGene"/>
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getGeneFault">
    <soap:fault name="getGeneFault" use="literal"/>
   </fault>
  </operation>

  <operation name="getTaxon">
   <soap:operation 
    soapAction="http://dip.doe-mbi.ucla.edu/services/dxf14/getTaxon"/>
   <input><soap:body use="literal"/></input>
   <output><soap:body use="literal"/></output>
   <fault name="getTaxonFault">
    <soap:fault name="getTaxonFault" use="literal"/>
   </fault>
  </operation>

 </binding>

 <service name="NcbiProxyService">
  <port binding="ncbi:NcbiProxyBinding" name="proxyPort">
   <soap:address location=""/>  
  </port>
 </service>

</definitions>
